## =============================== xterm ====================================
xterm*background: black
xterm*foreground: white

## =============================== urxvt ====================================

## general options
URxvt.buffered:         true
URxvt*termName: rxvt-unicode

## extensions
URxvt.perl-ext-common:  default,tabbed,clipboard,matcher
URxvt.urlLauncher:      /usr/bin/opera
URxvt.matcher.button: 1
URxvt.scrollBar: false

## borderless and no scrollbar
##URxvt*scrollBar_right: false
##URxvt*scrollBar: false
URxvt*borderLess: false

## geometry and font
URxvt.font:             xft:Terminus:pixelsize=14:antialias=false
URxvt.boldFont:         xft:Terminus:bold:pixelsize=14:antialias=false
!URxvt*geometry: 84×24

## pseudo-transparency stuff
URxvt*inheritPixmap: true
URxvt*tintColor: white
URxvt*shading: 20

## colors stuff

! buggy almost everywhere
!URxvt.depth: 32
!URxvt.background: rgba:0000/0000/0000/dddd


! urxvt defaults:
! color0 (black) = Black
! color1 (red) = Red3
! color2 (green) = Green3
! color3 (yellow) = Yellow3
! color4 (blue) = Blue3
! color5 (magenta) = Magenta3
! color6 (cyan) = Cyan3
! color7 (white) = AntiqueWhite
! color8 (bright black) = Grey25
! color9 (bright red) = Red
! color10 (bright green) = Green
! color11 (bright yellow) = Yellow
! color12 (bright blue) = Blue
! color13 (bright magenta) = Magenta
! color14 (bright cyan) = Cyan
! color15 (bright white) = White

## change default colors
## gnome tango palette
URxvt.cursorColor:      green
URxvt.underlineColor:   yellow
URxvt*background: #000000
URxvt*foreground: #EEEEEC
URxvt*color0: #000000
URxvt*color1: #CC0000
URxvt*color2: #4E9A06
URxvt*color3: #C4A000
URxvt*color4: #3465A4
URxvt*color5: #75507B
URxvt*color6: #06989A
URxvt*color7: #D3D7CF
URxvt*color8: #555753
URxvt*color9: #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #34E2E2
URxvt*color15: #EEEEEC
